In [1]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [2]:
#explore the data
dataset_train=pd.read_csv('./input/train.csv')
dataset_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#define the y_vector
y_train=dataset_train.iloc[:,1].values

#see the y_vector
y_train[:5]

array([0, 1, 1, 1, 0])

In [4]:
#remove the y_vector from the dataset
X_train=dataset_train.drop('Survived',axis=1)

#remove column "Name" from X_train matrix. I think it won't add any value to the model
X_train=X_train.drop('Name',axis=1)

#remove column "Ticket" from X_train matrix. I think the ticket number won't add any value to the model
X_train=X_train.drop('Ticket',axis=1)

#remove column "Cabin" from X_train matrix. Not sure if cabin number matter but I've removed it just to simplify the model at 
#this stage. Because there are some entries with 3 cabin numbers.
X_train=X_train.drop('Cabin',axis=1)

#remove column "PassengerId" from X_train matrix.
X_train=X_train.drop('PassengerId',axis=1)

X_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [5]:
#Ok, now I think I have to work on 2 categorical variables: "Sex" and "Embarked"

label_encoder_X=LabelEncoder()
X_train.iloc[:,1]=label_encoder_X.fit_transform(X_train.iloc[:,1])
#Male are labeled now as 1 and Female as 0

label_encoder_for_Embarked=LabelEncoder()
#Force convert column to str because there are some NaN
X_train.iloc[:,6] = label_encoder_for_Embarked.fit_transform(X_train.iloc[:,6].astype(str))
X_train.iloc[:,6]=label_encoder_for_Embarked.fit_transform(X_train.iloc[:,6])
#Embarked at S is now encoded as 2. C = 0. O outro enconded as 1 (acho eu)

#Since I don't know now what to do with missing data. I'll just delete column "Age" as well.
X_train=X_train.drop('Age',axis=1)


X_train.head()

   Pclass  Sex  SibSp  Parch     Fare  Embarked
0       3    1      1      0   7.2500         2
1       1    0      1      0  71.2833         0
2       3    0      0      0   7.9250         2
3       1    0      1      0  53.1000         2
4       3    1      0      0   8.0500         2

In [6]:
#just in case you want to see NaN values and where they are located
#df = X_train[X_train.isnull().any(axis=1)]
#df

In [7]:
#como tenho diferentes variaveis com diferentes magnitudes preciso de as normalizar
sc_X=StandardScaler()
X_train = sc_X.fit_transform(X_train)

In [8]:
X_train

array([[ 0.82737724,  0.73769513,  0.43279337, -0.47367361, -0.50244517,
         0.58111394],
       [-1.56610693, -1.35557354,  0.43279337, -0.47367361,  0.78684529,
        -1.93846038],
       [ 0.82737724, -1.35557354, -0.4745452 , -0.47367361, -0.48885426,
         0.58111394],
       ...,
       [ 0.82737724, -1.35557354,  0.43279337,  2.00893337, -0.17626324,
         0.58111394],
       [-1.56610693,  0.73769513, -0.4745452 , -0.47367361, -0.04438104,
        -1.93846038],
       [ 0.82737724,  0.73769513, -0.4745452 , -0.47367361, -0.49237783,
        -0.67867322]])

In [9]:
X_train.shape

(891, 6)

In [10]:
#Make the Artificial Neural Network

#Importing Keras libraries and required packages
import keras
from keras.models import Sequential
from keras.layers import Dense

/anaconda/envs/py35/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [11]:
#Initialising the ANN
classifier=Sequential()

#Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim=6, init='uniform', activation='relu',input_dim=6))
#So precisamos de definir o input layer no primeiro layer, dps disso a ANN descobre automaticamente

#uma tip que deram para o output_dim e a media da soma dos inputs parameters (11) com os output parameters (1).
#neste caso (11+1) / 2 = 6

#the inits and activations and optimizers and losses are different if instead of a binary classification we had more categories
#Adding the second hidden layer
classifier.add(Dense(output_dim=6, init='uniform', activation='relu'))

#Adding the output layer
classifier.add(Dense(output_dim=1, init='uniform', activation='sigmoid'))

#Compiling the ANN 
classifier.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", kernel_initializer="uniform", units=6, input_dim=6)`
/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:13: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", units=6, activation="relu")`
/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:16: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", units=1, activation="sigmoid")`

In [12]:
#Fitting the ANN to the training set
classifier.fit(X_train,y_train,batch_size=10, nb_epoch=100)

/anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  from ipykernel import kernelapp as app

Epoch 1/100
891/891 [==============================] - 2s 3ms/step - loss: 0.6904 - acc: 0.6218
Epoch 2/100
891/891 [==============================] - 0s 220us/step - loss: 0.6755 - acc: 0.7250
Epoch 3/100
891/891 [==============================] - 0s 236us/step - loss: 0.6260 - acc: 0.7811
Epoch 4/100
891/891 [==============================] - 0s 224us/step - loss: 0.5536 - acc: 0.7834
Epoch 5/100
891/891 [==============================] - 0s 133us/step - loss: 0.4896 - acc: 0.7991 0s - loss: 0.4923 - acc: 0.800
Epoch 6/100
891/891 [==============================] - 0s 137us/step - loss: 0.4568 - acc: 0.8013
Epoch 7/100
891/891 [==============================] - 0s 137us/step - loss: 0.4430 - acc: 0.8070
Epoch 8/100
891/891 [==============================] - 0s 169us/step - loss: 0.4394 - acc: 0.8114
Epoch 9/100
891/891 [==============================] - 0s 230us/step - loss: 0.4359 - acc: 0.8058
Epoch 10/100
891/891 [==============================] - 0s 238us/step - loss: 0.4349 - acc: 0.8114
Epoch 11/100
891/891 [==============================] - 0s 220us/step - loss: 0.4336 - acc: 0.8114
Epoch 12/100
891/891 [==============================] - 0s 228us/step - loss: 0.4319 - acc: 0.8182
Epoch 13/100
891/891 [==============================] - 0s 201us/step - loss: 0.4323 - acc: 0.8137
Epoch 14/100
891/891 [==============================] - 0s 227us/step - loss: 0.4324 - acc: 0.8126
Epoch 15/100
891/891 [==============================] - 0s 224us/step - loss: 0.4313 - acc: 0.8148
Epoch 16/100
891/891 [==============================] - 0s 141us/step - loss: 0.4303 - acc: 0.8148
Epoch 17/100
891/891 [==============================] - 0s 104us/step - loss: 0.4311 - acc: 0.8092
Epoch 18/100
891/891 [==============================] - 0s 104us/step - loss: 0.4316 - acc: 0.8126
Epoch 19/100
891/891 [==============================] - 0s 103us/step - loss: 0.4296 - acc: 0.8126
Epoch 20/100
891/891 [==============================] - 0s 103us/step - loss: 0.4291 - acc: 0.8114
Epoch 21/100
891/891 [==============================] - 0s 103us/step - loss: 0.4288 - acc: 0.8103
Epoch 22/100
891/891 [==============================] - 0s 104us/step - loss: 0.4287 - acc: 0.8092
Epoch 23/100
891/891 [==============================] - 0s 109us/step - loss: 0.4294 - acc: 0.8114
Epoch 24/100
891/891 [==============================] - 0s 109us/step - loss: 0.4294 - acc: 0.8103
Epoch 25/100
891/891 [==============================] - 0s 104us/step - loss: 0.4282 - acc: 0.8103
Epoch 26/100
891/891 [==============================] - ETA: 0s - loss: 0.4491 - acc: 0.795 - 0s 114us/step - loss: 0.4285 - acc: 0.8081
Epoch 27/100
891/891 [==============================] - 0s 189us/step - loss: 0.4286 - acc: 0.8103
Epoch 28/100
891/891 [==============================] - 0s 244us/step - loss: 0.4279 - acc: 0.8103
Epoch 29/100
891/891 [==============================] - 0s 127us/step - loss: 0.4277 - acc: 0.8103
Epoch 30/100
891/891 [==============================] - 0s 102us/step - loss: 0.4286 - acc: 0.8159
Epoch 31/100
891/891 [==============================] - 0s 104us/step - loss: 0.4270 - acc: 0.8103
Epoch 32/100
891/891 [==============================] - 0s 103us/step - loss: 0.4277 - acc: 0.8092
Epoch 33/100
891/891 [==============================] - 0s 103us/step - loss: 0.4270 - acc: 0.8114
Epoch 34/100
891/891 [==============================] - 0s 110us/step - loss: 0.4272 - acc: 0.8114
Epoch 35/100
891/891 [==============================] - 0s 105us/step - loss: 0.4267 - acc: 0.8114
Epoch 36/100
891/891 [==============================] - 0s 109us/step - loss: 0.4268 - acc: 0.8103
Epoch 37/100
891/891 [==============================] - 0s 104us/step - loss: 0.4262 - acc: 0.8103
Epoch 38/100
891/891 [==============================] - 0s 105us/step - loss: 0.4267 - acc: 0.8092
Epoch 39/100
891/891 [==============================] - 0s 103us/step - loss: 0.4265 - acc: 0.8137
Epoch 40/100
891/891 [==============================] - 0s 102us/step - loss: 0.4268 - acc: 0.8148
Epoch 41/100
891/891 [==============================] - 0s 103us/step - loss: 0.4261 - acc: 0.8103
Epoch 42/100
891/891 [==============================] - 0s 110us/step - loss: 0.4258 - acc: 0.8137
Epoch 43/100
891/891 [==============================] - 0s 109us/step - loss: 0.4268 - acc: 0.8070
Epoch 44/100
891/891 [==============================] - 0s 103us/step - loss: 0.4260 - acc: 0.8070
Epoch 45/100
891/891 [==============================] - 0s 109us/step - loss: 0.4255 - acc: 0.8081
Epoch 46/100
891/891 [==============================] - 0s 111us/step - loss: 0.4253 - acc: 0.8159
Epoch 47/100
891/891 [==============================] - 0s 106us/step - loss: 0.4253 - acc: 0.8103
Epoch 48/100
891/891 [==============================] - 0s 107us/step - loss: 0.4254 - acc: 0.8070
Epoch 49/100
891/891 [==============================] - 0s 191us/step - loss: 0.4256 - acc: 0.8092
Epoch 50/100
891/891 [==============================] - 0s 232us/step - loss: 0.4252 - acc: 0.8126
Epoch 51/100
891/891 [==============================] - 0s 131us/step - loss: 0.4247 - acc: 0.8103
Epoch 52/100
891/891 [==============================] - 0s 109us/step - loss: 0.4252 - acc: 0.8103
Epoch 53/100
891/891 [==============================] - 0s 106us/step - loss: 0.4253 - acc: 0.8103
Epoch 54/100
891/891 [==============================] - 0s 104us/step - loss: 0.4248 - acc: 0.8137
Epoch 55/100
891/891 [==============================] - 0s 110us/step - loss: 0.4249 - acc: 0.8058
Epoch 56/100
891/891 [==============================] - 0s 104us/step - loss: 0.4251 - acc: 0.8114
Epoch 57/100
891/891 [==============================] - 0s 101us/step - loss: 0.4251 - acc: 0.8036
Epoch 58/100
891/891 [==============================] - 0s 101us/step - loss: 0.4245 - acc: 0.8137
Epoch 59/100
891/891 [==============================] - 0s 103us/step - loss: 0.4247 - acc: 0.8070
Epoch 60/100
891/891 [==============================] - 0s 104us/step - loss: 0.4249 - acc: 0.8092
Epoch 61/100
891/891 [==============================] - 0s 106us/step - loss: 0.4248 - acc: 0.8103
Epoch 62/100
891/891 [==============================] - 0s 102us/step - loss: 0.4256 - acc: 0.8103
Epoch 63/100
891/891 [==============================] - 0s 123us/step - loss: 0.4251 - acc: 0.8103
Epoch 64/100
891/891 [==============================] - 0s 104us/step - loss: 0.4245 - acc: 0.8114
Epoch 65/100
891/891 [==============================] - 0s 145us/step - loss: 0.4252 - acc: 0.8126
Epoch 66/100
891/891 [==============================] - 0s 123us/step - loss: 0.4249 - acc: 0.8092
Epoch 67/100
891/891 [==============================] - 0s 189us/step - loss: 0.4244 - acc: 0.8058
Epoch 68/100
891/891 [==============================] - 0s 133us/step - loss: 0.4243 - acc: 0.8114
Epoch 69/100
891/891 [==============================] - 0s 127us/step - loss: 0.4240 - acc: 0.8137
Epoch 70/100
891/891 [==============================] - 0s 223us/step - loss: 0.4247 - acc: 0.8148
Epoch 71/100
891/891 [==============================] - 0s 229us/step - loss: 0.4247 - acc: 0.8103
Epoch 72/100
891/891 [==============================] - ETA: 0s - loss: 0.4308 - acc: 0.809 - 0s 223us/step - loss: 0.4241 - acc: 0.8081
Epoch 73/100
891/891 [==============================] - 0s 230us/step - loss: 0.4244 - acc: 0.8126
Epoch 74/100
891/891 [==============================] - 0s 245us/step - loss: 0.4243 - acc: 0.8058
Epoch 75/100
891/891 [==============================] - 0s 227us/step - loss: 0.4240 - acc: 0.8126
Epoch 76/100
891/891 [==============================] - 0s 204us/step - loss: 0.4244 - acc: 0.8103
Epoch 77/100
891/891 [==============================] - 0s 164us/step - loss: 0.4239 - acc: 0.8148
Epoch 78/100
891/891 [==============================] - 0s 259us/step - loss: 0.4243 - acc: 0.8081
Epoch 79/100
891/891 [==============================] - 0s 228us/step - loss: 0.4236 - acc: 0.8126
Epoch 80/100
891/891 [==============================] - 0s 242us/step - loss: 0.4234 - acc: 0.8148
Epoch 81/100
891/891 [==============================] - 0s 233us/step - loss: 0.4232 - acc: 0.8081
Epoch 82/100

891/891 [==============================] - 0s 243us/step - loss: 0.4243 - acc: 0.8092 0s - loss: 0.4199 - acc: 0.8
Epoch 83/100
891/891 [==============================] - 0s 236us/step - loss: 0.4240 - acc: 0.8126
Epoch 84/100
891/891 [==============================] - 0s 233us/step - loss: 0.4232 - acc: 0.8137
Epoch 85/100
891/891 [==============================] - 0s 231us/step - loss: 0.4228 - acc: 0.8025
Epoch 86/100
891/891 [==============================] - 0s 233us/step - loss: 0.4235 - acc: 0.8081
Epoch 87/100
891/891 [==============================] - 0s 224us/step - loss: 0.4229 - acc: 0.8070
Epoch 88/100
891/891 [==============================] - 0s 232us/step - loss: 0.4230 - acc: 0.8126
Epoch 89/100
891/891 [==============================] - 0s 226us/step - loss: 0.4229 - acc: 0.8092
Epoch 90/100
891/891 [==============================] - 0s 233us/step - loss: 0.4228 - acc: 0.8126
Epoch 91/100
891/891 [==============================] - 0s 225us/step - loss: 0.4229 - acc: 0.8081
Epoch 92/100
891/891 [==============================] - 0s 210us/step - loss: 0.4228 - acc: 0.8103
Epoch 93/100
891/891 [==============================] - 0s 220us/step - loss: 0.4227 - acc: 0.8092
Epoch 94/100
891/891 [==============================] - 0s 227us/step - loss: 0.4224 - acc: 0.8103
Epoch 95/100
891/891 [==============================] - 0s 248us/step - loss: 0.4223 - acc: 0.8058
Epoch 96/100
891/891 [==============================] - 0s 227us/step - loss: 0.4224 - acc: 0.8114
Epoch 97/100
891/891 [==============================] - 0s 245us/step - loss: 0.4220 - acc: 0.8114
Epoch 98/100
891/891 [==============================] - 0s 251us/step - loss: 0.4225 - acc: 0.8114
Epoch 99/100
891/891 [==============================] - 0s 223us/step - loss: 0.4220 - acc: 0.8114
Epoch 100/100
891/891 [==============================] - 0s 232us/step - loss: 0.4229 - acc: 0.8137

In [13]:
#agora que treinei o modelo vou usar a matrix X_train para o testar (sim, a mesma que usei para treinar...)
y_pred=classifier.predict(X_train)
y_pred[:5]

#devolve uma probabilidade acho eu...

array([[0.10292352],
       [0.98762846],
       [0.48954386],
       [0.9850996 ],
       [0.1053068 ]], dtype=float32)

In [14]:
#para fazer a confusion matrix escolho um treshold onde digo que acima desse valor retorna true (neste caso, a pessoa sobreviveu)
y_pred=(y_pred>0.5)

y_pred[:5]

array([[False],
       [ True],
       [False],
       [ True],
       [False]])

In [16]:
from sklearn.metrics import confusion_matrix

#vou comparar os resultados do meu modelo com os resultados reais fazendo uma confusion matrix
cm=confusion_matrix(y_train,y_pred)

cm

#calcular a accuracy do modelo
# (498+230)/(498+51+112+230)

array([[513,  36],
       [129, 213]])

## Test set + submission example

In [20]:
#example of a submission file where is assumed that all and only female passengers have survived
dataset_gender=pd.read_csv('./input/gender_submission.csv')
dataset_gender.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [21]:
#test set to test our model. The difference between this test set and the train set is that there is no y vector here (no "Survived")
dataset_test=pd.read_csv('./input/test.csv')
dataset_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [22]:
#remove column "Name" from X_train matrix. I think it won't add any value to the model
X_test=dataset_test.drop('Name',axis=1)

#remove column "Ticket" from X_train matrix. I think the ticket number won't add any value to the model
X_test=X_test.drop('Ticket',axis=1)

#remove column "Cabin" from X_train matrix. Not sure if cabin number matter but I've removed it just to simplify the model at 
#this stage. Because there are some entries with 3 cabin numbers.
X_test=X_test.drop('Cabin',axis=1)

#Since I don't know now what to do with missing data. I'll just delete column "Age" as well.
X_test=X_test.drop('Age',axis=1)

In [23]:
#guarda o 'PassengerID' para poder ser retrieved antes da submissao
passID=X_test['PassengerId']

#remove column "PassengerId" from X_train matrix.
X_test  = X_test.drop("PassengerId", axis=1)

In [24]:
X_test.head()

   Pclass     Sex  SibSp  Parch     Fare Embarked
0       3    male      0      0   7.8292        Q
1       3  female      1      0   7.0000        S
2       2    male      0      0   9.6875        Q
3       3    male      0      0   8.6625        S
4       3  female      1      1  12.2875        S

In [25]:
#Ok, now I think I have to work on 2 categorical variables: "Sex" and "Embarked"

label_encoder_X=LabelEncoder()
X_test.iloc[:,1]=label_encoder_X.fit_transform(X_test.iloc[:,1])
#Male are labeled now as 1 and Female as 0

label_encoder_for_Embarked=LabelEncoder()
#Force convert column to str because there are some NaN
X_test.iloc[:,5] = label_encoder_for_Embarked.fit_transform(X_test.iloc[:,5].astype(str))
X_test.iloc[:,5]=label_encoder_for_Embarked.fit_transform(X_test.iloc[:,5])
#Embarked at S is now encoded as 2. C = 0. O outro enconded as 1 (acho eu)

In [26]:
#just in case you want to see NaN values and where they are located
df = X_test[X_test.isnull().any(axis=1)]
df

     Pclass  Sex  SibSp  Parch  Fare  Embarked
152       3    1      0      0   NaN         2

In [27]:
#Oh dear. there is a NaN in Fare... Let me google and see how to delete this line
#Better, I'm going to replace the NaN value with the mean from that column
X_test['Fare'].fillna((X_test['Fare'].mean()), inplace=True)

In [28]:
#como tenho diferentes variaveis com diferentes magnitudes preciso de as normalizar
sc_X=StandardScaler()
X_test = sc_X.fit_transform(X_test)

In [29]:
#Agora sim, posso fazer as previsoes para o X_test

In [36]:
y_pred = classifier.predict(X_test)
#como devolve uma probabilidade tenho que escolher um treshold para tornar os valores 1 ou 0

# y_pred=(y_pred>0.5)

# y_pred=y_pred.astype(np.int)
y_pred[y_pred >=0.5] = 1
y_pred[y_pred <0.5] = 0

y_pred

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.]], dtype=float32)

In [37]:
flat_list = [item for sublist in y_pred for item in sublist]
flat_list

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0]

In [38]:
submission = pd.DataFrame({
        "PassengerId": passID,
        "Survived": flat_list
    })

submission.to_csv('./output/submission2.csv', index=False)